* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Mono", monospace;
  padding: auto;
}

main {
  background-color: azure;
}

p {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: larger;
  text-align: center;
}

h2,
h3 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  padding: 10px 10px 10px 10px;
}

.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.homeImg {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.clearfix {
  display: inline-block;
  align-content: center;
}
.clearfix:after {
  display: table;
  clear: both;
}

.upMenu {
  align-content: center;
  text-align: center;
}

.aboutUs {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.iframe-container {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  align-content: center;
}

#grid-delivery {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-gap: 20px;
  padding: 20px;
  grid-template-areas: "section1 section2" "aside section2";
  text-align: center;
}

.image-container img {
  width: 100%;
  height: auto;
}

.map-container iframe {
  width: 100%;
  height: 500px;
  border: 0;
}

aside {
  text-align: center;
}

@media (max-width: 576px) {
  #grid-delivery {
    grid-template-columns: 100%;
    grid-template-areas: "section1" "section2" "aside";
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  #grid-delivery {
    grid-template-columns: 100%;
    grid-template-areas: "section1" "section2" "aside";
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  #grid-delivery {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "section1 section2" "aside section2";
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  #grid-delivery {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "section1 section2" "aside section2";
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  #grid-delivery {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "section1 section2" "aside section2";
  }
}
@media (min-width: 1400px) {
  #grid-delivery {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "section1 section2" "aside section2";
  }
}
.branch-list {
  list-style: none;
  padding: 0;
}
.branch-list li {
  margin-bottom: 20px;
}

header {
  background-color: black;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.link {
  position: absolute;
  padding: 20px 50px;
}

nav {
  background: black;
  height: 80px;
  width: 100%;
}
nav ul {
  float: center;
  margin-right: 20px;
}
nav li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav a {
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav a.active, nav a:hover {
  background: gainsboro;
  transition: 0.5s;
}

.mug:visited {
  color: white;
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: larger;
}

.social-media-icons {
  padding: 10px;
  margin-top: 20px;
}

.social-media-icons a {
  margin-right: 15px;
  color: white;
  font-size: 24px;
  transition: color 0.3s;
}

.social-media-icons a:hover {
  color: #007bff;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  .link {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover, li a.active {
    background: none;
    color: #fff;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

.burger-container {
  align-items: center;
}

.burgerMenu {
  margin: 0px auto;
  padding: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  width: 150px;
  height: 200px;
}

.beerMenu {
  margin: 0px auto;
  padding: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  width: 170px;
  height: 200px;
}

.shareMenu {
  margin: 0px auto;
  padding: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: inline-block;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.cardsMenu {
  background-color: gainsboro;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  height: 300px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  align-content: center;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .cardsMenu {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .cardsMenu {
    width: 48%;
  }
}
@media (min-width: 1201px) {
  .cardsMenu {
    width: 30%;
  }
}
.flip-card {
  perspective: 1000px;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flip-card-front {
  background-color: #f1f1f1;
}

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.content {
  background-color: gainsboro;
  font-weight: lighter;
  font-stretch: normal;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  align-items: center;
}

.contactWrapper {
  box-shadow: 0 0 20px 0 whitesmoke;
}

.contactForm {
  background-color: black;
}
.contactForm form p {
  margin: 0;
  padding: 1em;
}
.contactForm form button,
.contactForm form input,
.contactForm form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  outline: 0;
}
.contactForm form button {
  background-color: azure;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contactInfo {
  background-color: black;
}

.contactWrapper {
  box-shadow: 0 0 20px 0 whitesmoke;
}

.contactForm {
  background-color: black;
}

.contactForm form p {
  margin: 0;
  padding: 1em;
}

.contactForm form button,
.contactForm form input,
.contactForm form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  outline: 0;
}

.contactForm form button {
  background-color: azure;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contactInfo {
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
