footer {
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: larger;
}
.social-media-icons {
  padding: 10px;
  margin-top: 20px;
}

.social-media-icons a {
  margin-right: 15px;
  color: white;
  font-size: 24px;
  transition: color 0.3s;
}

.social-media-icons a:hover {
  color: #007bff; 
}